In [28]:
#Load Libraries

import pandas as pd
from scipy import stats
import numpy as np

In [29]:
#Load Data

usdaHoney = pd.read_csv("../Data/FinalusdaHoney3.csv")

usdaHoney.head(50)

     Commodity_Description  Year  Production_MT
0   Almonds, Shelled Basis  1998       235884.0
1   Almonds, Shelled Basis  1999       377800.0
2   Almonds, Shelled Basis  2000       318900.0
3   Almonds, Shelled Basis  2001       376500.0
4   Almonds, Shelled Basis  2002       494416.0
5   Almonds, Shelled Basis  2003       471740.0
6   Almonds, Shelled Basis  2004       462664.0
7   Almonds, Shelled Basis  2005       415040.0
8   Almonds, Shelled Basis  2006       508023.0
9   Almonds, Shelled Basis  2007       630500.0
10  Almonds, Shelled Basis  2008       739400.0
11  Almonds, Shelled Basis  2009       639600.0
12  Almonds, Shelled Basis  2010       748430.0
13  Almonds, Shelled Basis  2011       920800.0
14  Almonds, Shelled Basis  2012       952500.0
15           Apples, Fresh  1998      5282724.0
16           Apples, Fresh  1999      5746060.0
17           Apples, Fresh  2000      5675890.0
18           Apples, Fresh  2001      5065060.0
19           Apples, Fresh  2002      4605810.0
20           Apples, Fresh  2003      4780600.0
21           Apples, Fresh  2004      5683040.0
22           Apples, Fresh  2005      5261960.0
23           Apples, Fresh  2006      5351610.0
24           Apples, Fresh  2007      4154195.0
25           Apples, Fresh  2008      4508344.0
26           Apples, Fresh  2009      4505000.0
27           Apples, Fresh  2010      4219541.0
28           Apples, Fresh  2011      4231474.0
29           Apples, Fresh  2012      4200000.0
30                  Barley  1998      7655000.0
31                  Barley  1999      5922000.0
32                  Barley  2000      6919000.0
33                  Barley  2001      5407000.0
34                  Barley  2002      4940000.0
35                  Barley  2003      6059000.0
36                  Barley  2004      6091000.0
37                  Barley  2005      4613000.0
38                  Barley  2006      3984000.0
39                  Barley  2007      5030000.0
40                  Barley  2008      5230000.0
41                  Barley  2009      4951000.0
42                  Barley  2010      4137000.0
43                  Barley  2011      3810000.0
44                  Barley  2012      4812000.0
45           Coffee, Green  1998        13920.0
46           Coffee, Green  1999         9780.0
47           Coffee, Green  2000        11100.0
48           Coffee, Green  2001        10980.0
49           Coffee, Green  2002         9780.0

In [30]:
TestingDB = pd.DataFrame(data=usdaHoney)


pivotedTable = TestingDB.pivot(index='Year', columns='Commodity_Description', values='Production_MT')\
            .reset_index()

pivotedTable.columns.name=None

print(pivotedTable)

    Year  Almonds, Shelled Basis  Apples, Fresh     Barley  Coffee, Green  \
0   1998                235884.0      5282724.0  7655000.0        13920.0
1   1999                377800.0      5746060.0  5922000.0         9780.0
2   2000                318900.0      5675890.0  6919000.0        11100.0
3   2001                376500.0      5065060.0  5407000.0        10980.0
4   2002                494416.0      4605810.0  4940000.0         9780.0
5   2003                471740.0      4780600.0  6059000.0         9780.0
6   2004                462664.0      5683040.0  6091000.0        11160.0
7   2005                415040.0      5261960.0  4613000.0         8760.0
8   2006                508023.0      5351610.0  3984000.0        10320.0
9   2007                630500.0      4154195.0  5030000.0        10320.0
10  2008                739400.0      4508344.0  5230000.0        10260.0
11  2009                639600.0      4505000.0  4951000.0        10200.0
12  2010                748430.0      4219541.0  4137000.0         9600.0
13  2011                920800.0      4231474.0  3810000.0         6600.0
14  2012                952500.0      4200000.0  4812000.0         6300.0

           Corn     Cotton  Dairy, Milk, Fluid  Filberts, Inshell Basis  \
0   247882000.0  3006288.0          71334000.0                  14061.0
1   239549000.0  3665088.0          73750000.0                  34500.0
2   251854000.0  3712608.0          75929000.0                  20471.0
3   241377000.0  4385448.0          74994000.0                  44906.0
4   227767000.0  3717144.0          77140000.0                  17700.0
5   256278000.0  3943080.0          77290000.0                  34400.0
6   299914000.0  5022216.0          77535000.0                  48502.0
7   282311000.0  5160240.0          80286000.0                  33566.0
8   282303000.0  4693464.0          82582000.0                  39010.0
9   338295000.0  4190400.0          84211000.0                  33600.0
10  312126000.0  3132000.0          86410000.0                  30800.0
11  334052000.0  2902608.0          86817000.0                  42640.0
12  339614000.0  4076568.0          87488000.0                  25400.0
13  343043000.0  3888000.0          89020000.0                  37200.0
14  375683000.0  3812616.0          91010000.0                  36300.0

    Fresh Cherries,(Sweet&Sour)  ...  Pears, Fresh  Pistachios, Inshell Basis  \
0                      336521.0  ...      880061.0                    85275.0
1                      312226.0  ...      921247.0                    56056.0
2                      318195.0  ...      884750.0                   110179.0
3                      339359.0  ...      931631.0                    73240.0
4                      192320.0  ...      807413.0                   137562.0
5                      325670.0  ...      847356.0                    53970.0
6                      353800.0  ...      795837.0                   157400.0
7                      350170.0  ...      745446.0                   128400.0
8                      386510.0  ...      754000.0                   107955.0
9                      407880.0  ...      798200.0                   188694.0
10                     321315.0  ...      789200.0                   126100.0
11                     495346.0  ...      867120.0                   175000.0
12                     367000.0  ...      774477.0                   236775.0
13                     404660.0  ...      875533.0                   203150.0
14                     418135.0  ...      796338.0                   249929.0

    Poultry, Meat, Turkey  Rice, Milled       Rye     Sorghum  \
0               2365000.0     5798000.0  309000.0  13207000.0
1               2372000.0     6502000.0  280000.0  15118000.0
2               2419000.0     5941000.0  213000.0  11952000.0
3               2490000.0     6714000.0  175000.0  13057000.0
4               2557000.0     6602000.0  165000.0   9163000.0
5               2529000.0     6420000.0  219000.0  10446000.0
6               2441000.0     7462000.0  210000.0  11523000.0
7               2464000.0     7113000.0  191000.0  10005000.0
8               2545000.0     6267000.0  183000.0   7738000.0
9               2667000.0     6344000.0  206000.0  13073000.0
10              2801000.0     6617000.0  211000.0  12087000.0
11              2733000.0     7163000.0  191000.0   9896000.0
12              2607000.0     7975000.0  190000.0   9740000.0
13              2593000.0     6771000.0  170000.0   8128000.0
14              2675000.0     6356000.0  192000.0   8636000.0

    Sugar, Centrifugal  Tangerines/Mandarins, Fresh  Walnuts, Inshell Basis  \
0            7277000.0                     401000.0                205931.0
1            7597000.0                     505000.0                256734.0
2            8203000.0                     425000.0                216816.0
3            7956000.0                     469000.0                276700.0
4            7167000.0                     443000.0                255825.0
5            7644000.0                     419000.0                295741.0
6            7847000.0                     367000.0                294834.0
7            7146000.0                     435000.0                322100.0
8            6741000.0                     378000.0                317515.0
9            7727000.0                     540000.0                297600.0
10           7665000.0                     520000.0                395533.0
11           7362000.0                     583000.0                396440.0
12           7326000.0                     643000.0                462660.0
13           7607000.0                     635000.0                440000.0
14           7700000.0                     664000.0                450871.0

         Wheat
0   69327000.0
1   62475000.0
2   60641000.0
3   53001000.0
4   43705000.0
5   63814000.0
6   58738000.0
7   57280000.0
8   49316000.0
9   59156000.0
10  68363000.0
11  60423000.0
12  61641000.0
13  57319000.0
14  61755000.0

[15 rows x 35 columns]

In [8]:
pivotedTable.count()

Year                           15
Almonds, Shelled Basis         15
Apples, Fresh                  15
Barley                         15
Coffee, Green                  15
Corn                           15
Cotton                         15
Dairy, Milk, Fluid             15
Filberts, Inshell Basis        15
Fresh Cherries,(Sweet&Sour)    15
Fresh Peaches & Nectarines     15
Grapefruit, Fresh              15
Grapes, Fresh                  15
Honey                          15
Lemons/Limes, Fresh            15
Meat, Beef and Veal            15
Meat, Swine                    15
Oats                           15
Oil, Cottonseed                15
Oil, Olive                     15
Oil, Peanut                    15
Oil, Rapeseed                  15
Oil, Soybean                   15
Oil, Sunflowerseed             15
Oranges, Fresh                 15
Pears, Fresh                   15
Pistachios, Inshell Basis      15
Poultry, Meat, Turkey          15
Rice, Milled                   15
Rye                            15
Sorghum                        15
Sugar, Centrifugal             15
Tangerines/Mandarins, Fresh    15
Walnuts, Inshell Basis         15
Wheat                          15
dtype: int64

In [31]:
# Doing correlation between all the variables and picking the ones that are highly correlated to Honey

corrMat = pivotedTable.corr()

corrMat['Honey']

Year                          -0.868987
Almonds, Shelled Basis        -0.813135
Apples, Fresh                  0.728312
Barley                         0.815184
Coffee, Green                  0.667521
Corn                          -0.747127
Cotton                        -0.092651
Dairy, Milk, Fluid            -0.853603
Filberts, Inshell Basis       -0.479508
Fresh Cherries,(Sweet&Sour)   -0.538106
Fresh Peaches & Nectarines     0.449436
Grapefruit, Fresh              0.747103
Grapes, Fresh                 -0.476597
Honey                          1.000000
Lemons/Limes, Fresh            0.041683
Meat, Beef and Veal           -0.070536
Meat, Swine                   -0.834067
Oats                           0.872128
Oil, Cottonseed                0.146093
Oil, Olive                    -0.562377
Oil, Peanut                   -0.186057
Oil, Rapeseed                 -0.734580
Oil, Soybean                  -0.675686
Oil, Sunflowerseed             0.544686
Oranges, Fresh                 0.610564
Pears, Fresh                   0.471541
Pistachios, Inshell Basis     -0.644417
Poultry, Meat, Turkey         -0.808096
Rice, Milled                  -0.293702
Rye                            0.657100
Sorghum                        0.618340
Sugar, Centrifugal             0.279058
Tangerines/Mandarins, Fresh   -0.562898
Walnuts, Inshell Basis        -0.742128
Wheat                          0.273472
Name: Honey, dtype: float64

In [32]:
TestingDB1 = pd.DataFrame(data=corrMat['Honey'])

PosCorr_Honey = TestingDB1[TestingDB1.Honey >= 0.65]

NegCorr_Honey = TestingDB1[TestingDB1.Honey <= -0.65]

#PosCorr_Honey.append(NegCorr_Honey)

# HighCorr_Comm = pd.DataFrame(data = PosCorr_Honey)

# PosCorr_Honey.head()

display(PosCorr_Honey, NegCorr_Honey)

                      Honey
Apples, Fresh      0.728312
Barley             0.815184
Coffee, Green      0.667521
Grapefruit, Fresh  0.747103
Honey              1.000000
Oats               0.872128
Rye                0.657100

                           Honey
Year                   -0.868987
Almonds, Shelled Basis -0.813135
Corn                   -0.747127
Dairy, Milk, Fluid     -0.853603
Meat, Swine            -0.834067
Oil, Rapeseed          -0.734580
Oil, Soybean           -0.675686
Poultry, Meat, Turkey  -0.808096
Walnuts, Inshell Basis -0.742128

In [ ]:
# So here we can see are the highly correlated variables with Honey.

#
#Apples, Fresh	0.728312
#Barley	0.815184
#Coffee, Green	0.667521
#Grapefruit, Fresh	0.747103
#Oats	0.872128
#Rye	0.657100
#Almonds, Shelled Basis	-0.813135
#Corn	-0.747127
#Dairy, Milk, Fluid	-0.853603
#Meat, Swine	-0.834067
#Oil, Rapeseed	-0.734580
#Oil, Soybean	-0.675686
#Poultry, Meat, Turkey	-0.808096
#Walnuts, Inshell Basis	-0.742128




#pivotedTable1.columns = pivotedTable1.columns.str.replace(', ', '_')
#pivotedTable1.columns = pivotedTable1.columns.str.replace('/', '_or_')
#pivotedTable1.columns = pivotedTable1.columns.str.replace(' ', '_')

#pivotedTable1.info()

In [27]:
# Loading the wrangled usdaGlobaldata with only the above highly correlated commodities - usdaGlobal_HighCorr_Honey.csv


globalHoneyCorr = pd.read_csv("../Data/usdaGlobal_HighCorr_Honey.csv")

globalHoneyCorr.head(50)

,Commodity_Description,Year,Value,Country_Code,Country_Name,Attribute_Description,Unit_Description
0,"Almonds, Shelled Basis",1998,235884,US,United States,Production,(MT)
1,"Almonds, Shelled Basis",1999,377800,US,United States,Production,(MT)
2,"Almonds, Shelled Basis",2000,318900,US,United States,Production,(MT)
3,"Almonds, Shelled Basis",2001,376500,US,United States,Production,(MT)
4,"Almonds, Shelled Basis",2002,494416,US,United States,Production,(MT)
5,"Almonds, Shelled Basis",2003,471740,US,United States,Production,(MT)
6,"Almonds, Shelled Basis",2004,462664,US,United States,Production,(MT)
7,"Almonds, Shelled Basis",2005,415040,US,United States,Production,(MT)
8,"Almonds, Shelled Basis",2006,508023,US,United States,Production,(MT)
9,"Almonds, Shelled Basis",2007,630500,US,United States,Production,(MT)
10,"Almonds, Shelled Basis",2008,739400,US,United States,Production,(MT)
11,"Almonds, Shelled Basis",2009,639600,US,United States,Production,(MT)
12,"Almonds, Shelled Basis",2010,748430,US,United States,Production,(MT)
13,"Almonds, Shelled Basis",2011,920800,US,United States,Production,(MT)
14,"Almonds, Shelled Basis",2012,952500,US,United States,Production,(MT)
15,"Almonds, Shelled Basis",2013,911720,US,United States,Production,(MT)
16,"Almonds, Shelled Basis",2014,952540,US,United States,Production,(MT)
17,"Almonds, Shelled Basis",2015,861830,US,United States,Production,(MT)
18,"Almonds, Shelled Basis",2016,970690,US,United States,Production,(MT)
19,"Almonds, Shelled Basis",2017,1029650,US,United States,Production,(MT)
20,"Almonds, Shelled Basis",2018,1111300,US,United States,Production,(MT)
21,"Almonds, Shelled Basis",2019,1156660,US,United States,Production,(MT)
22,"Almonds, Shelled Basis",2020,1412940,US,United States,Production,(MT)
23,"Almonds, Shelled Basis",2021,1270060,US,United States,Production,(MT)
24,"Apples, Fresh",1998,5282724,US,United States,Production,(MT)
25,"Apples, Fresh",1999,5746060,US,United States,Production,(MT)
26,"Apples, Fresh",2000,5675890,US,United States,Production,(MT)
27,"Apples, Fresh",2001,5065060,US,United States,Production,(MT)
28,"Apples, Fresh",2002,4605810,US,United States,Production,(MT)
29,"Apples, Fresh",2003,4780600,US,United States,Production,(MT)
30,"Apples, Fresh",2004,5683040,US,United States,Production,(MT)
31,"Apples, Fresh",2005,5261960,US,United States,Production,(MT)
32,"Apples, Fresh",2006,5351610,US,United States,Production,(MT)
33,"Apples, Fresh",2007,4154195,US,United States,Production,(MT)
34,"Apples, Fresh",2008,4508344,US,United States,Production,(MT)
35,"Apples, Fresh",2009,4505000,US,United States,Production,(MT)
36,"Apples, Fresh",2010,4219541,US,United States,Production,(MT)
37,"Apples, Fresh",2011,4231474,US,United States,Production,(MT)
38,"Apples, Fresh",2012,4200000,US,United States,Production,(MT)
39,"Apples, Fresh",2013,4731741,US,United States,Production,(MT)
40,"Apples, Fresh",2014,5111942,US,United States,Production,(MT)
41,"Apples, Fresh",2015,4561000,US,United States,Production,(MT)
42,"Apples, Fresh",2016,5010201,US,United States,Production,(MT)
43,"Apples, Fresh",2017,5084727,US,United States,Production,(MT)
44,"Apples, Fresh",2018,5048000,US,United States,Production,(MT)
45,"Apples, Fresh",2019,4851625,US,United States,Production,(MT)
46,"Apples, Fresh",2020,4671000,US,United States,Production,(MT)
47,"Apples, Fresh",2021,4607646,US,United States,Production,(MT)
48,Barley,1998,235884000,US,United States,Production,(MT)
49,Barley,1999,361362000,US,United States,Production,(MT)